#subcontent-video {
	
}

.video-node {

}

.video-node-video {

}

.video-node-title {
	font-family: helvetica;
	font-size: 30px;
	font-weight: bold;
	margin: 10px 0px 0px 0px;
}

.video-node-body {
	margin: 0px 0px 0px 0px;
	font-family: helvetica;
}

